
Hello $name!  Welcome to Hansaa!
You have successfully registered your profile. 
We have offered you default 500 Credit points for you. 
Please note : each application will deduct 50 credits from your profile. 
You can earn credit or buy it from contact number given. 


Your user name is $mobile , and your password is $password !. 

To login, please visit http://hansatutor.com


Regards
Hansa Tutor